body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease-in-out;
}

h1 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #555;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table thead th {
    color: white;
}

table tbody tr:hover {
    background-color: #f5f5f5;
}
table a {
    color: #ffffff;
}
.logoutBtn {
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
}

table a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.892);
    transition: color 0.3s ease-in-out;
}
#hamburger {
    opacity: 0;
}


table a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.238);
    transition: color 0.3s ease-in-out;
}

#hamburger {
    opacity: 0;
}

.hamburger_btn {
    position: absolute;
    top: 26px;
    right: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.hamburger_btn > span,
.hamburger_btn > span::before,
.hamburger_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #616161;
    transition-duration: 1s;
}

.hamburger_btn > span::before {
    content: '';
    top: -12px;
    left: 0;
}

.hamburger_btn > span::after {
    content: '';
    top: 12px;
    left: 0;
}

.hamburger_menu {
    display: block;
    position: fixed;
    top: 0;
    right: -200px; /* Adjust the width of your menu if needed */
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff142;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 1s;
}

.menu_item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition-duration: 0.25s;
}

.menu_item:hover {
    background-color: #cfd8cc;
}

#hamburger:checked + .hamburger_btn > span {
    transform: rotate(45deg);
}

#hamburger:checked + .hamburger_btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#hamburger:checked + .hamburger_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#hamburger:checked ~ .hamburger_menu {
    right: 0 !important;
}
