#hamburger {
    opacity: 0;
}
 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin-bottom: 3px;
    margin-top: 0px;

}
 .bg-primary {
    background-color:#073362 !important;
}
 
 input,
 select,
 button {
     margin-inline-start: 20px;
 } 
.hamburger_btn {
    position: absolute;
    top: 26px;
    right: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.hamburger_btn > span,
.hamburger_btn > span::before,
.hamburger_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #616161;
    transition-duration: 1s;
}

.hamburger_btn > span::before {
    content: '';
    top: -12px;
    left: 0;
}

.hamburger_btn > span::after {
    content: '';
    top: 12px;
    left: 0;
}
.hamburger_menu a:hover{
    text-decoration: none;
    color: #333;
}
.hamburger_menu {
    display: block;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff142;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 1s;
}

.menu_item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition-duration: 0.25s;
}

.menu_item:hover {
    background-color: #cfd8cc;
}

#hamburger:checked + .hamburger_btn > span {
    transform: rotate(45deg);
}

#hamburger:checked + .hamburger_btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#hamburger:checked + .hamburger_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#hamburger:checked ~ .hamburger_menu {
    right: 0 !important;
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}

.cars {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #c9cdc9;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 300px;
    max-width: 700px;
    box-sizing: border-box;
    margin-top: 70px;

}
.cars_b{
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #06ff06;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 300px;
    max-width: 700px;
    box-sizing: border-box;
    margin-top: 70px;
    
}
.car-reserved {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #06ff06;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 300px;
    max-width: 700px;
    box-sizing: border-box;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gegevens{
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fcfbfbbf;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: calc(25% - 20px);
    max-width: 390px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-wrap: wrap;
}
.car-reserved:hover {
    transform: scale(1.05);
}
.cars:hover {
    transform: scale(1.05);
}
.cars_b:hover {
    transform: scale(1.05);
}
.gegevens:hover {
    transform: scale(1.05);
}


h2 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    margin: 8px 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}
/* error? */
.success-message,
.error-message, .factuur-message {
    background-color: #d4edda;
    color: #21993d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
}
#logoutBtn:hover{
        cursor: pointer;
}
/* kentenken style */
@import url('http://fonts.cdnfonts.com/css/kenteken');

::placeholder {
  color: rgba(0,0,0,.15);
}


.kenteken2 {
  position: relative;
  background: #f3bd00;
  width: 200px;
  height: 40px;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
}

.inset2 {
  border: 1px solid #333;
  border-radius: 4px;
  width: auto;
  height: 38px;
  position: relative;
  display: flex;
}

.kenteken2 .inset2 .blue2 {
  width: 24px;
  height: 38px;
  background: #003399;
  border-right: 1px solid #333;
  background-image: url('https://i.ibb.co/r7SZP4h/NLD1-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kenteken2 .inset2 input {
  text-transform: uppercase;
  background: 0;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  width: calc(100% - 25px);
  font-size: 23.5px;
  letter-spacing: 3px;
  line-height: 38px;
  font-family: 'Kenteken', sans-serif;
  background-image: url('https://svgshare.com/i/VU4.svg');
  background-repeat: no-repeat;
  background-size: auto;
}